@import "tailwindcss";

[x-cloak] {
    display: none;
}

.bitcount {
    font-family: "Bitcount Grid Single", system-ui;;
}

html {
    scroll-behavior: smooth;
}

.parent-service .service-icon {
    @apply bg-[#FFA500] text-white
}

.parent-service:hover .service-icon, .parent-service:hover h4{
    @apply text-[#FFA500] bg-white duration-300 ease-in-out
}

.partner-info {
    @apply bg-black/50 hidden
}

.partner:hover .partner-info {
    @apply block
}

.card-partner:hover img {
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
}